@model TheBlueSeaResort_v2.Models.Customer

@{
    ViewBag.Title = "RoomEdit";
}

<!-- ------------------- Sidebar ------------------- -->
<div style="margin-top:50px">
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card-4 w3-animate-left" style="width:20%">
        <div class="w3-bar w3-dark-grey">
            <span class="w3-bar-item w3-padding-24">Content</span>
        </div>
        <div class="w3-bar-block ">
            <button type="button" class="w3-bar-item w3-button w3-border-bottom w3-hover-teal w3-padding-16">
                @Html.ActionLink("Customer Management", "Index")
            </button>
            @if (Session["Status"].ToString() == "admin")
            {
                <button type="button" class="w3-bar-item w3-button w3-border-bottom w3-hover-teal w3-padding-16">
                    @Html.ActionLink("Admin Management", "AdminIndex")
                </button>
                <button type="button" class="w3-bar-item w3-button w3-border-bottom w3-hover-teal w3-padding-16">
                    @Html.ActionLink("Room Management", "RoomTypeIndex")
                </button>
            }
        </div>
    </div>
</div>
<!-- ----------------------------------------------- -->
<div style="margin-left:20%">
    <div class="w3-container w3-teal">
        <h1>Room Editor</h1>
    </div>
    <div class="w3-container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>แก้ไขห้อง</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.RoomNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RoomNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoomNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                        @Html.HiddenFor(model => model.Room_Id)
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Back to List", "RoomManagement_2")
        </div>
    </div>
</div>
